.DS_Store
.venv
dataset
.vscode
dataloader/__pycache__
module/__pycache__
model/__pycache__
training/__pycache__
training/results
emovo.zip
local.py
testing/__pycache__
batch.txt
batch1.txt
model/0.0_config.yml
model/0.0_state
model/history.txt
model/0.0_cache_data
notebook_results.ipynb
module/convkan/__pycache__
